Ejercicio4.dtd

<!ELEMENT cdsEnOferta (cd*) >
<!ELEMENT cd (titulo, artista, pais, compa単iaDiscografica, precio, a単oDePublicacion) >
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT artista (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT compa単iaDiscografica (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT a単oDePublicacion (#PCDATA)>