Ejercicio2d.dtd

<!DOCTYPE Mensaje [
        <!ELEMENT Mensaje (Remitente|Destinatario|Asunto|Texto)*>
        <!ELEMENT Remitente (Nombre|Email)*>
        <!ELEMENT Nombre (#PCDATA)>
        <!ELEMENT Email (#PCDATA)>
        <!ELEMENT Destinatario (Nombre|Email)*>
        <!ELEMENT Asunto (#PCDATA)>
        <!ELEMENT Texto (Parrafo)*>
        <!ELEMENT Parrafo (#PCDATA)>
        ]>
